TELEGRAM_BOT_TOKEN=replace_me
TELEGRAM_GROUP_CHAT_ID=-1000000000000
TELEGRAM_OWNER_USER_ID=123456789
TELEGRAM_MAX_AUTH_USERS=2
CHECK_INTERVAL_MS=600000
POLL_TIMEOUT_SECONDS=30
CLAUDE_TIMEOUT_SECONDS=300
CODEX_TIMEOUT_SECONDS=300
RUNNER_PROGRESS_INTERVAL_MS=45000
CLAUDE_MODEL=sonnet
CODEX_MODEL=
BOT_NODE_MAX_OLD_SPACE_SIZE_MB=192
AGENT_CPU_SECONDS=600
AGENT_NOFILE=1024
